.news-container{
    display: flex;
    align-items: start;
    justify-content: end ;
    
    width: 100%;
}

.container-news{
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; 
    gap: 1rem;
    margin: 1rem 0;
    
}

.container-last-news{
    margin-top: 1rem;
    width: 30%;
    
}

.container{
    width: 100%;
    display: block;
} 

.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 90%;
    background-color: aliceblue;
}

.title-last-news{
    font-size: 2rem;
    text-align: center;
    color: #000080;
    width: 100%;
}

.buton-filter{
    margin-left: .5rem;
    background-color: #000080;
    color: white;
    padding: .35rem;
    border-radius: 10px ;
    font-family: "Montserrat";
}

.buton-filter:hover{
    background-color: #6495ED;
}

@media screen and (max-width: 600px){
    .news-container{
        flex-direction: column;
    }

    .container-last-news{
        margin: 0 auto;
        width: 80%;
    }
    .container-news{
        margin: 1rem auto;
        width: 85%;
    }
}