<header class="header" >

    <label class="menu-hamburguer" >
        <input type="checkbox">
        <div class="toogle" >
            <span class="top-line common"></span>
            <span class="middle-line common"></span>
            <span class="bottom-line common"></span>
        </div>
        <h1 class="title-menu" >MENU</h1>
        <div class="slide" >
            <ul>
                <li class="category-item" ><a class="link-style menu" routerLink="/internacional" routerLinkActive="active" ariaCurrentWhenActive="page">Internacional</a></li>
                <li class="category-item" ><a class="link-style menu" routerLink="/politica" routerLinkActive="active" ariaCurrentWhenActive="page">Política</a></li>
                <li class="category-item" ><a class="link-style menu" routerLink="/esportes" routerLinkActive="active" ariaCurrentWhenActive="page">Esportes</a></li>
            </ul>
        </div>
    </label>
    
    <!-- <div class="container-menu-hamburguer" >
        <img class="menu-hamburguer" src="menu-hamburguer.png" alt="menu-hamburguer">
        <span class="menu-hamburguer-aux" >MENU</span>
    </div> -->
    <!-- <div  class="categorys" >
        <div class="category" >  </div>
        <div class="category" >  </div>
        <div class="category" ></div>
    </div>  -->

    <a 
        style="font-family: 'Font Awesome 5 Free'; font-weight: 700;"  
        class="link-style home" 
        routerLink="/" 
        routerLinkActive="active" 
        ariaCurrentWhenActive="page"
    > &#xf015;</a>

     <!-- <input class="input-search" type="text" placeholder="BUSCAR" >  -->
</header>
