.container-global{
    width: 100%;
    
}

.container{
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.title-style{
    /* color: #000080; */
    color: #000080 ; 
    /* background-image: linear-gradient(to top, #000080, #323292, steelblue); */
    /* background-image: radial-gradient(circle at 50% -20.71%, #b359ff 0, #7d4bff 25%, #3c3cf2 50%, #002dcd 75%, #0020ab 100%); */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: "Montserat";
    font-size: 2rem;
    text-align: justify;
}

.img-style{
    
    margin: 0.5rem auto;
    text-align: center;
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.text-style{
    font-family: "Monteserat", sans-serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
}

@media screen and (max-width: 900px){
    .container{
        width: 80%;
    }

    .img-style{
        width: 100%;
        height: 250px;
    }
}