.link-style{
    list-style: none;
    text-decoration: none;
    color: #000080;
    font-family: "Monteserat", sans-serif;
    font-size: 1rem;
    width: 100%;
    
}

.new-container{
    width: 100%;
    padding: .25rem;
    
}

.new-image{
    width: 175px;
    height: 100%;
    border-radius: 10px;
}

.container-new-title{
    margin-top: .25rem;
    width: 175px;
    line-height: 1.5rem;
}

@media screen and (max-width: 900px){
    .new-container{
        width: 100%;
        margin-top: .5rem;
    }

    .new-image{
        width: 100%;
    }
}